<!doctype html>
<html> 
<head>
    <title>UpTheIG</title>
    <meta name="description" content="First page"> 
    <link href="./index.css" rel="stylesheet"> 
    <style> 
    body {
    	background-color: #D8BFD8;
    }
	</style>
</head>

<body> 
<h1><img src="./insta3.png" alt="instagram logo" width="80px" height="80px">Up The Gram<img src="./insta3.png" alt="instagram logo" width="80px" height="80px"></h1>
<hr> 
<h4>Welcome! Please log in with   <img src="./facebook2.png" alt="facebook word" width="70px" height="70px">    to begin!</h4>


<form method = "post">
    <p><input type = "submit" value = "Login" /></p>

</form>
</body>
</html>