h1 { 
font-family: American Typewriter, serif; 
font-weight: 600; 
font-size: 30px; 
text-align: center; 
}

h4 { 
font-family: American Typewriter, serif; 
text-align: center; 
}

p { 
text-align: center; 
}