<!doctype html>
<html> 
<head>
    <title>UpTheIG</title>
    <meta name="description" content="First page"> 
    <link href="./index.css" rel="stylesheet"> 
    <style> 

    body {
    	background-color: #D8BFD8;
    }
    h1 { 
		font-family: American Typewriter, serif; 
		font-weight: 600; 
		font-size: 80px; 
		text-align: center; 
	}

	h4 { 
		font-family: American Typewriter, serif; 
		text-align: center; 
		padding: 0px; 
	}

	

	p { 
		text-align: center; 
	}
	</style>
</head>

<body> 
<h1><img src="http://www.transparentpng.com/thumb/logo-instagram/JFyofc-logo-instagram-background-png.png" alt="instagram logo" width="80px" height="80px">Up The Gram<img src="http://www.transparentpng.com/thumb/logo-instagram/JFyofc-logo-instagram-background-png.png" alt="instagram logo" width="80px" height="80px"></h1>
<hr> 
<h4>Welcome! To start login to Facebook</h4>



<form method = "post">
    <p><input type = "submit" value = "Login" /></p>

</form>
</body>
</html>