<doctype html>
<head>
    <title>Search Foursquare</title>
    <style> 

    body {
    	background-color: #D8BFD8;
    }
    h2 { 
		font-family: American Typewriter, serif; 
		font-weight: 600; 
		font-size: 50px; 
		text-align: center; 
	}

	p { 
		text-align: center; 
	}
	dl { 
		text-align: center; 
	}
	</style>
</head>
 
<h2>Search Foursquare</h2>
 
<p>{% from "_formhelpers.html" import render_field %}</p>
<form method=post>
  <dl>
    {{ render_field(form.search) }}
  </dl>
  <p><input type=submit value=Search></p>
</form>